# Python specific ignores
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pdb
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Temporary files
tmp/