numpy
unidecode
fargv
matplotlib
scipy
tqdm
networkx
torch
lxml
seaborn

# Testing
pytest
pytest-cov


# Documentation
sphinx
sphinx-autodoc-typehints
myst-parser
sphinx-rtd-theme
sphinx-copybutton
sphinxcontrib-mermaid
linkify-it-py
sphinx_rtd_theme